<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        <mapper namespace="com.yang.admin.dao.AdminMapper">

    <select id="role_infoAll" resultType="com.yang.role.bean.Role">
        select * from role_info
    </select>

    <insert id="insertAdmininfo" parameterType="com.yang.admin.bean.Admin">
        INSERT  into admin_info
         (admin_id,admin_name,admin_account,admin_pswd,admin_telephone,admin_Eamil,impower_date)
         VALUES (null,#{admin_name},#{admin_account},#{admin_pswd},#{admin_telephone},#{admin_Eamil},#{impower_date})
    </insert>

    <insert id="insertAdmin_role" >
        insert into admin_role
        (admin_id,role_id) VALUES ((select admin_id from admin_info where admin_name =#{admin_name}),#{role_id})
    </insert>

    <select id="admin_infoAll" resultType="com.yang.admin.bean.AdminShow">
        select * from admin_info
    </select>

    <select id="role_Allbyadminid" parameterType="String" resultType="com.yang.role.bean.Role">
     select r.* from admin_info LEFT JOIN  admin_role on admin_info.admin_id =admin_role.admin_id
        LEFT JOIN role_info r ON admin_role.role_id =r.role_id where admin_info.admin_id=#{admin_id}
    </select>

    <select id="searchAdmin" resultType="com.yang.admin.bean.AdminShow">
        select a.* from admin_info a LEFT JOIN admin_role ON a.admin_id=admin_role.admin_id
LEFT JOIN role_info ON admin_role.role_id=role_info.role_id
LEFT JOIN role_module on role_info.role_id =role_module.role_id
LEFT JOIN module_info ON role_module.module_id=module_info.module_id
      <trim prefix="where" prefixOverrides="and" >
          <if test="#{module_id} != null and #{module_id} != '' and #{module_id} != '全部'">
              and module_info.module_id =#{module_id}
          </if>
          <if test="#{name} != null and #{name} != ''">
              and role_info.name like "%"#{name}"%"
          </if>
          and 1=1
      </trim>
    </select>

    <select id="a" resultType="com.yang.admin.bean.AdminShow">
        select a.* from admin_info a
 LEFT JOIN admin_role ON a.admin_id = admin_role.admin_id LEFT JOIN role_info ON admin_role.role_id =role_info.role_id
 where role_info.name LIKE "%"#{name}"%"
    </select>

    <select id="b" resultType="com.yang.admin.bean.AdminShow">
    select a.* from admin_info a
LEFT JOIN admin_role ON a.admin_id =admin_role.admin_id
LEFT JOIN role_module ON admin_role.role_id = role_module.role_id
LEFT JOIN module_info ON role_module.module_id=module_info.module_id
where module_info.module_id =#{module_id}
    </select>

    <select id="c"  resultType="com.yang.admin.bean.AdminShow">
        <foreach collection="list" item="admin_id">
            select * from admin_info where admin_id =#{admin_id}
        </foreach>
    </select>

  <select id="thisAdmin" parameterType="String" resultType="com.yang.admin.bean.AdminShow">
       select * from admin_info where admin_id =#{admin_id}
  </select>
    <update id="updateAdmin" parameterType="com.yang.admin.bean.AdminShow">
        update admin_info set admin_name= #{admin_name} , admin_account=#{admin_account},
        admin_telephone=#{admin_telephone} ,admin_Eamil=#{admin_Eamil} where admin_id =#{admin_id}
    </update>

    <delete id="deleteAdmin_roleByAdminId"  parameterType="String" >
        delete from admin_role where admin_id =#{admin_id}
    </delete>

</mapper>